/********************************************************************************************************************************
General
*********************************************************************************************************************************/
.wrap{
  width:93%;
  margin: auto;
}
  /*********************************************************************************************************************************
  Navigation
  **********************************************************************************************************************************/
  .top-bar{
    background-color: rgb(74, 95, 121);
  }
  .top-bar ul{
    background-color: transparent;
    birde-style: none;
  }
.top-bar li{
  background-color:  rgb(74, 95, 121);
}
  .top-bar h4, .top-bar a{
    color:gold;
    font-family: 'Indie Flower', cursive;
    font-size:20px
  }
/******************************************************************************************************************************
Header
*******************************************************************************************************************************/
.orbit{
background-color:red;
}
.orbit img{
  max-height: 13em;
}


/**********************************************************************************************************************************
MAIN
*********************************************************************************************************************************/
.main p{
  padding top: 2em;
}
.row{
  width:100%;
  margin:auto;
}
.colums{
  padding: 5em;
}
/*********************************************************************
Footer
************************************************************************/
.footer{
  text-align: center;
  color:white;
  background-color: rgb(60, 100, 140);
  padding: 2em 2em;
}
.footer h3{
  color: black;
  font-family:'Indie Flower', cursive;
  font-size: 35px
}
.footer a{
  color: gold;
  font-family: 'Indie Flower', cursive;
}
.footer img{
  height: 2em;
  width: 2em;
  font-family:'Indie Flower', cursive;
}
